# Session 1 **exercise**

In [16]:
#e1
num = int(float(input('please enter an intiger number: ')))
years = num//365
remain_days = num%365
month = remain_days//30
remain_days = remain_days%30
weeks = remain_days//7
days = remain_days%7
print(f'In {num} days there is {years} years and {month} months and {weeks} weeks and {days} days' )

In 365245 days there is 1000 years and 8 months and 0 weeks and 5 days

In [14]:
f'In {num} days there is {years} years'

'In 30000 days there is 82 years'

In [18]:
print('In {0} days there is {1} years and {2} months and {3} weeks and {4} days'.format(num,
                                                                                        years,
                                                                                        month,
                                                                                        weeks,
                                                                                        days) )

In 365245 days there is 1000 years and 8 months and 0 weeks and 5 days

In [11]:
num, type(num)

(15.9, float)

In [8]:
int('15.9')

ValueError: invalid literal for int() with base 10: '15.9'

In [9]:
int(15.9)

15

In [19]:
324//100

3

In [20]:
#3
num = int(input('enter a num: '))
a = num//100
b = num%100//10
c = num%100%10
a + b + c

13

In [21]:
a = 20
bool(a)

True

In [22]:
b = 0
bool(b)

False

In [23]:
t = True

In [24]:
type(t)

bool

In [25]:
int(t)

1

In [26]:
int(False)

0

In [27]:
n = None

In [28]:
n

In [29]:
type(n)

NoneType

In [30]:
bool(n)

False

In [31]:
bool('hi')

True

In [32]:
bool('')

False

In [33]:
bool(' ')

True

In [34]:
4 > 8

False

In [35]:
5 > 2

True

In [36]:
5 < 10

True

In [37]:
6 <= 6

True

In [38]:
6 =< 6

SyntaxError: cannot assign to literal (904265349.py, line 1)

In [39]:
6 = 6

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (33114681.py, line 1)

In [40]:
6 == 6

True

In [41]:
a = 10
a == 20

False

In [42]:
7 != 8

True

In [43]:
7 != 7

False

In [44]:
'hi'  == 'hello'

False

In [46]:
'hi' == 'hi'

True

In [47]:
'hi' == 'hI'

False

In [58]:
pet = input('dog or cat? ')
if pet == 'dog':
    print('dog food')
if pet == 'cat':
    print('cat food')
print('enjoy')

enjoy

In [61]:
pet = input('dog or cat? ')
if pet == 'dog':
    print('dog food')
else:
    print('cat food')
print('enjoy')

cat food
enjoy

In [64]:
pet = input('dog or cat? ')
if pet == 'dog':
    print('dog food')
elif pet == 'cat':
    print('cat food')
else:
    print('milk')
print('enjoy')

milk
enjoy

In [73]:
grade = float(input('Enter your grade: '))
if grade >= 0.8 and grade < 0.9:
    print('B')
elif grade >= 0.9:
    print('A')

A

In [75]:
grade = float(input('Enter your grade: '))
if 0.8 <= grade < 0.9:
    print('B')
elif grade >= 0.9:
    print('A')

B

In [80]:
grade = float(input('Enter your grade: '))
if 0 <= grade <= 1:
    if grade >= 0.9:
        print('A')
    elif grade >= 0.8:
        print('B')
    elif grade >= 0.7:
        print('C')
    elif grade >= 0.6:
        print('D')
    else:
        print('F')
else:
    print('wrong entry')

C

In [ ]:
patron = input('Patron? ')
if patron == 'Full':
    wait_estimate = float(input('wait estimate? '))
    if 0 <= wait_estimate <= 10:
        pass
    elif 10 < wait_estimate <= 30:
        pass

elif patron == 'some':
    print('yes')
elif patron == 'none':
    print('no')
else:
    print('wrong entry')

In [81]:
num = float(input('enter a num: '))
if num%2 == 0:
    print('even')
else:
    print('odd')

even

In [102]:
import datetime
now = datetime.datetime.now()
print(now.second)
if now.second % 2 == 0:
    print('even')
else:
    print('odd')

42
even

In [92]:
now.hour

12

In [103]:
now

datetime.datetime(2025, 1, 17, 12, 10, 42, 641917)

In [91]:
now.minute

5

In [90]:
now.second

24

In [107]:
now.strftime('%d/%m/%Y %A')

'17/01/2025 Friday'

In [1]:
import jdatetime

In [2]:
jdatetime.datetime.now()

jdatetime.datetime(1404, 3, 30, 14, 56, 17, 432662)

In [3]:
jnow = jdatetime.datetime.now()

In [4]:
jnow.strftime('%d/%m/%Y %B')

'30/03/1404 Khordad'

In [5]:
date = 'Friday, 28  1403 - 12:03'

In [ ]:
    jdate = jdatetime.datetime.strptime(date, '%A, %d  %Y - %H:%M')

ValueError: time data 'Friday, 28  1403 - 12:03' does not match format '%A, %d  %Y - %H:%M'

In [1]:
import jdatetime
from datetime import datetime

# Input date string
date_str = 'Friday, 28  1403 - 12:03'

# Parse the date string using jdatetime's strptime
jdate = jdatetime.datetime.strptime(date_str, '%A, %d  %Y - %H:%M')

# Convert the jdatetime object to a datetime object
date = jdate.togregorian()

print("Parsed jdatetime object:", jdate)
print("Converted datetime object:", date)

ValueError: time data 'Friday, 28  1403 - 12:03' does not match format '%A, %d  %Y - %H:%M'