you should create table in sqllite like this:

In [12]:
import sqlite3
conn = sqlite3.connect("resturant.db")

create="""
CREATE TABLE IF NOT EXISTS customer(
c_ID int PRIMARY KEY UNIQUE,
name,
phone int,
address)
"""

cursor=conn.cursor()
cursor.execute(create)
conn.close()

In [1]:
import sqlite3
conn = sqlite3.connect("resturant.db")
cursor = conn.cursor()

# insert_query = "INSERT INTO customer (c_id, name, phone, address) VALUES (?, ?, ?, ?)"
# data = (1, 'Kasra', 1234567890, 'Tehran, Iran')
# cursor.execute(insert_query, data)
 
# or:  

insert_query = "INSERT INTO customer (c_id, name, phone, address) VALUES (3, 'ali', 1234567890, 'Tehran, Iran')"

cursor.execute(insert_query)
conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect("resturant.db")
cursor=conn.cursor()

s_s="SELECT * FROM customer"
    a=cursor.execute(s_s)
# conn.close()

In [23]:
a

In [24]:
a.fetchall()

[(1, 'Kasra', 1234567890, 'Tehran, Iran'),
 (2, 'Kasra', 1234567890, 'Tehran, Iran')]

In [25]:
conn = sqlite3.connect("resturant.db")
cursor=conn.cursor()

s_s="SELECT name,c_id FROM customer"
a=cursor.execute(s_s)
# conn.close()

In [26]:
a

In [27]:
a.fetchall()

[('Kasra', 1), ('Kasra', 2)]

In [4]:
conn = sqlite3.connect("resturant.db")
cursor=conn.cursor()

s_s="SELECT name,c_id FROM customer WHERE name != 'Kasra'"
a=cursor.execute(s_s)
# conn.close()

In [5]:
a.fetchall()

[('ali', 3)]

In [8]:
conn = sqlite3.connect("resturant.db")
cursor=conn.cursor()

update="UPDATE customer SET name = 'hossein' WHERE c_id=2 "

cursor.execute(update)
conn.commit()
conn.close()

In [11]:
conn = sqlite3.connect("resturant.db")
cursor=conn.cursor()

delete="DELETE FROM customer WHERE c_id=2 "

cursor.execute(delete)
conn.commit()
conn.close()