In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(5,100,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [5]:
for i in range(100,5,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10

In [8]:
digit = ''
for char in '5fgfg4546fgfg5':
   if char.isdigit():
      digit += char
int(digit)

545465

In [15]:
import time
c = 0
for i in range(100000000):
    if i%3 == 0 or i%7 == 0:
        c += 1
        if c == 100:
            print(f'{c}:{i}')
            break

100:231

In [19]:
for i in range(10):
    print(i)
    for j in range(10):
        if j % 2 == 0:
            continue
        print(f'\t{j}')

0
	1
	3
	5
	7
	9
1
	1
	3
	5
	7
	9
2
	1
	3
	5
	7
	9
3
	1
	3
	5
	7
	9
4
	1
	3
	5
	7
	9
5
	1
	3
	5
	7
	9
6
	1
	3
	5
	7
	9
7
	1
	3
	5
	7
	9
8
	1
	3
	5
	7
	9
9
	1
	3
	5
	7
	9

In [20]:
for i in range(10):
    print(i)
    for j in range(10):
        print(f'\t{j}')

0
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
1
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
2
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
3
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
4
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
5
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
6
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
7
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
8
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
9
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9

In [21]:
n = 20
while n > 0:
    print(n)
    n -= 5

20
15
10
5

In [ ]:
c = 0
for i in range(100000000):
    if i%3 == 0 or i%7 == 0:
        c += 1
        if c == 100:
            print(f'{c}:{i}')
            break

In [22]:
c = 0
i = 0
while True:
    i += 1
    if i%3 == 0 or i%7 == 0:
        c += 1
        if c == 100:
            print(i)
            break

234

In [23]:
shoping_list = ['apple','milk','golabi']

In [24]:
shoping_list

['apple', 'milk', 'golabi']

In [25]:
type(shoping_list)

list

In [26]:
'apple' in shoping_list

True

In [27]:
greet = 'hello how are you'

In [28]:
'h' in greet

True

In [29]:
'x' in greet

False

In [30]:
'apple' not in shoping_list

False

In [31]:
'golab' in shoping_list

False

In [32]:
shoping_list.append('golab')
shoping_list

['apple', 'milk', 'golabi', 'golab']

In [49]:
vowel = 'auioe'
s = """Has AI just had its “Sputnik moment”? That’s to say, has Chinese company DeepSeek created a new approach to developing AI models that is cost-effective, energy-efficient and accessible?

That’s what influential tech venture capitalist Marc Andreessen thinks, hailing DeepSeek as “one of the most amazing and impressive breakthroughs I’ve ever seen – and as open source, a profound gift to the world”.

But what is open-source AI? And why is it such an important breakthrough?"""
result = []
for char in s:
    if char.lower() in vowel:
        if char not in result:
            result.append(char)
result

['a', 'A', 'I', 'u', 'i', 'o', 'e']

In [1]:
d = '''hi how are 
you'''

In [42]:
len(d)

14

In [43]:
for char in d:
    print(char)

h
i

h
o
w

a
r
e

y
o
u

In [50]:
result = []
for i in range(100):
    if i%5 == 0:
        result.append(i)
result

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [3]:
n = 0
result = []
while n <= 100:
    result.append(n)
    n += 5

result

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [4]:
s = 0
for i in result:
    s += i
s

1050

In [5]:
sum(result)

1050

In [6]:
[1,2,3] == [1, 3, 2]

False

In [7]:
result[1:15:2]

[5, 15, 25, 35, 45, 55, 65]

In [8]:
a = [1,2,3,5.5,8.4,'hi',result]
a

[1,
 2,
 3,
 5.5,
 8.4,
 'hi',
 [0,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100]]

In [9]:
a[-1][5]

25

In [67]:
a[-2][0]

'h'

In [68]:
len(a)

7

In [69]:
b = [5,-9,6,10,2]

In [71]:
sorted(b, reverse=True)

[10, 6, 5, 2, -9]

In [72]:
b

[5, -9, 6, 10, 2]

In [73]:
b[0] = 1000
b

[1000, -9, 6, 10, 2]

In [74]:
s = 'hello'
s[0] = 't'

TypeError: 'str' object does not support item assignment

In [75]:
s.replace('h','t')

'tello'

In [77]:
a.clear()

In [78]:
a

[]

In [79]:
c = [2,5,2,3,5,6,2,3,4,5,5,4]

In [80]:
c.count(5)

4

In [81]:
c

[2, 5, 2, 3, 5, 6, 2, 3, 4, 5, 5, 4]

In [82]:
b

[1000, -9, 6, 10, 2]

In [83]:
c + b

[2, 5, 2, 3, 5, 6, 2, 3, 4, 5, 5, 4, 1000, -9, 6, 10, 2]

In [84]:
c-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [85]:
b

[1000, -9, 6, 10, 2]

In [86]:
c

[2, 5, 2, 3, 5, 6, 2, 3, 4, 5, 5, 4]

In [87]:
b.extend(c)
b

[1000, -9, 6, 10, 2, 2, 5, 2, 3, 5, 6, 2, 3, 4, 5, 5, 4]

In [88]:
b.index(2)

4

In [89]:
b[4]

2

In [90]:
b.insert(1,500)
b

[1000, 500, -9, 6, 10, 2, 2, 5, 2, 3, 5, 6, 2, 3, 4, 5, 5, 4]

In [91]:
b.pop()

4

In [92]:
b

[1000, 500, -9, 6, 10, 2, 2, 5, 2, 3, 5, 6, 2, 3, 4, 5, 5]

In [93]:
b.pop(1)

500

In [94]:
b

[1000, -9, 6, 10, 2, 2, 5, 2, 3, 5, 6, 2, 3, 4, 5, 5]

In [95]:
b.pop(1000)

IndexError: pop index out of range

In [96]:
b[1000]

IndexError: list index out of range

In [97]:
del b[0]

In [98]:
b

[-9, 6, 10, 2, 2, 5, 2, 3, 5, 6, 2, 3, 4, 5, 5]

In [99]:
b.remove(10)

In [1]:
b

NameError: name 'b' is not defined

In [101]:
b.sort()

In [102]:
b

[-9, 2, 2, 2, 2, 3, 3, 4, 5, 5, 5, 5, 6, 6]

In [25]:
#1
w_e = 80
w_m = 80*.165
for i in range(1,16):
    print(i, round(w_m))

1 13
2 13
3 13
4 13
5 13
6 13
7 13
8 13
9 13
10 13
11 13
12 13
13 13
14 13
15 13

In [48]:
#1
w_e = 80
w_m = 80*.165
for i in range(1,16):
    print(f'{i}: {w_m:0.1f}')
    w_m += .165

1: 13.2
2: 13.4
3: 13.5
4: 13.7
5: 13.9
6: 14.0
7: 14.2
8: 14.4
9: 14.5
10: 14.7
11: 14.8
12: 15.0
13: 15.2
14: 15.3
15: 15.5

In [126]:
print(f"{4567651.12387634:4.2f}")
print(round(4567651.12387634,-5))

4567651.12
4600000.0

In [108]:
#2
name = 'saeed'
name[::-1]

'deeas'

In [110]:
name = 'saeed'
result = ''
for char in name:
    result = char + result
result

'deeas'

In [130]:
#3
s = 0
n = 20
c = 0
for i in range(n+1):
    s += i
    c += 1
s
c
s/c

210

In [112]:
#4
p = 1
n = 20

for i in range(1,n+1):
    p *= i
p

2432902008176640000

In [113]:
#6
n = int(input('enter a num?'))
s_odd = 0
s_5 = 0
for i in range(n+1):
    if i%2 == 1:
        s_odd += i
    if i%5 == 0:
        s_5 += i
s_5 * s_odd

2500125000000000000

In [117]:
p = 1
f = ['aval','dovom','3',4,5,6,7,8,9,10]
for i in range(10):
    n = float(input(f'enter a num {f[i]}?'))
    p *= n

In [118]:
p

43200.0

In [119]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [120]:
list('hi')

['h', 'i']

In [125]:
s = '1403/11/19'
date = s.split('/')

In [126]:
date

['1403', '11', '19']

In [129]:
'_'.join(date)

'1403_11_19'

In [130]:
d = list(range(1,20,2))
d

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [131]:
p = 1
for i in d:
    p *= i
p

654729075

In [132]:
d.reverse()
d

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [133]:
d[::-1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [134]:
d

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [136]:
result = []

for item in d:
    result.insert(0, item)
result

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [141]:
d.index(1)

9

In [142]:
result = []
for i in range(len(d)-1,-1,-1):
    result.append(d[i])
result

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [143]:
result = []
j = -1
for i in range(len(d)):
    result.append(d[j])
    j -= 1
result

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]