### 1

In [62]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for a,b in d1.items():
    
    d2[a] = d2.get(a, 0) + b
d2

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

### 2

In [227]:
people = [("Ali", 25), ("Mina", 30), ("Reza", 25), ("Sara", 30),("mmd",30),("mm",1)]
s=set({})
m={}
c=0
for i,z in people:
    s.add(z)
    m.setdefault(z,0)
    m[z]+=1
 


m,s,sorted(people,key=lambda item:item[1])

({25: 2, 30: 3, 1: 1},
 {1, 25, 30},
 [('mm', 1),
  ('Ali', 25),
  ('Reza', 25),
  ('Mina', 30),
  ('Sara', 30),
  ('mmd', 30)])

### 3

In [232]:
people = [{"name": "Ali", "age": 23},{"name": "Mina", "age": 30},{"name": "Reza", "age": 25},{"name": "Sara", "age": 28}]
for i in people:
    if(i["age"]<=25):
        del people[people.index(i)]
people

[{'name': 'Mina', 'age': 30}, {'name': 'Sara', 'age': 28}]

### 4

In [239]:
nested_list = [[1, 2, 3], [2, 3, 4], [3, 4, 5,9,3]]
s=set({})
for i in nested_list:
    for k in i:
        s.add(k)
sorted(list(s),reverse=True)

[9, 5, 4, 3, 2, 1]

### 5

In [250]:
w = ["apple", "cat", "dog", "book", "python","asdfgh","wert"]
a={}
for i in w:
    a.setdefault(len(i),[])
    a[len(i)].append(i)   
a

{5: ['apple'], 3: ['cat', 'dog'], 4: ['book', 'wert'], 6: ['python', 'asdfgh']}